services:
  db:
    image: postgres:16-alpine
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}

    ports:
      - ${PG_PORT}:${PG_PORT}

  app:
    container_name: clark-mvp
    build: ./

    environment:
      PG_HOST: ${PG_HOST}
      PG_USER: ${PG_USER}
      PG_PASSWORD: ${PG_PASSWORD}
      PG_DATABASE: ${PG_DATABASE}
      PG_PORT: ${PG_PORT}
      API_PORT: ${API_PORT}

    ports:
      - 3000:3000

    links:
      - db
    depends_on:
      - db
